# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Virtual environment
venv/
.env/
.venv/

# Config files (with secrets)
config.json
*.env

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# macOS / Windows system files
.DS_Store
Thumbs.db

# VSCode / IDEs
.vscode/
.idea/

# Cache
.cache/
